@import '../../../global.css';

.divWeather{
    display: flex;
    justify-content: space-between;
}

.searchBtn {
    background: transparent;
    border: none;
}

.icon {
    width: 20px;
    height: 20px;
}

.searchInput {
    width: 70%;
    border-radius: 10px;
    border: none;
    padding: .2em 1em;
    outline: none;
}

.divLocal {
    margin-top: 3em;
}

.local {
    font-size: 2em;
    color: var(--font-color);
    font-family: var(--main-font);
    font-weight: 500;
}

.localDate {
    color: var(--font-color);
    font-family: var(--main-font);
    font-weight: 400;
}

.divIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5em 0;
}

.temperature {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 5em;
    color: var(--font-color);
}

.climate {
    color: var(--font-color);
    font-family: var(--main-font);
    font-weight: 400;
}